* {
    margin: 0;
}

.blog-container{
    width: 100%;
}

.blogs-post-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style-type: none;
    padding: 0;
}

.blogs-card {
    width: 50%;
    background-color: #ffffff;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(133, 133, 133) );
    filter: drop-shadow(5px 5px 5px rgb(148, 148, 148));
}

.title {
    font-size: large;
    color: black;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
}

.navbar-bg {
    background-color: black;
    height: 75px;
}


.blog-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}