
.blogs-container {
    height: auto;
    width: 100vw;
    min-height:100vh;
}

.blogs-li {
    
    background-color: #f1f0f0;
    -webkit-filter: drop-shadow(5px 3px 3px rgb(100, 100, 100) );
    filter: drop-shadow(5px 3px 3px rgb(97, 97, 97));
  
    padding: 30px;
    margin: 25px;
    border-radius: 2%;
}

.title {
    font-size: large;
    color: black;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
}

.blog {
    display: row;
    
}

.date {
    margin-top: 0.5em;
    color: black;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
}

.navbar-bg {
    background-color: black;
    height: 75px;
}

.blog-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-items: center;
}

.blog-title{
    margin-top: 3em;
    text-align: left;
    margin-left: 4em;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
}