* {
    margin: 0;
}

.container-blogs {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-title {
    margin-top: 5rem;
    text-align: center;
    font-size: 4rem;
}

.card {
    width: 350px;
    margin: 4rem;
}

.blog-img {
    margin: 10px;
    width: 300px;
    height: 150px;
}
   /* responsive Mobile screen */
   @media only screen and (max-width: 375px) {
    .blog-title {
        font-size: 1rem;
    } 
    .blog-img {
        width: 180px;
    }
  }
  /* responsive Tablet screen */
  @media only screen and (max-width: 768px) {
    .blog-title {
        font-size: 2rem;
    }   
    .blog-img {
        width: 220px;

    }
  }
  /* responsive Laptop screen */
  @media screen and (max-width: 1400px) {
  
  }
  
  
  

