@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Jost:ital,wght@1,300&family=Saira+Condensed:wght@100&display=swap');

* {
    margin: 0;
}


.year-title{
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Istok Web', sans-serif;
    padding-right: 20px;
}


.icon{ color: #282828;}
.nav-list-footer { color: #282828; font-size: 20px;}
.nav-footer-container { width: 70%;}
.container-icons-footer {width: 20%;}



/* responsive Mobile screen */
@media screen and (max-width: 375px) {
  
   
}
/* responsive Tablet screen */
@media screen and (max-width: 768px) {
   
   
}
/* responsive Laptop screen */
@media screen and (max-width: 1050px) {
   
   
 }
