@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,900&family=Yanone+Kaffeesatz:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,200;1,900&family=Yanone+Kaffeesatz:wght@300;700&display=swap');



.first-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 30, 30);
}

.name-container {
    position: absolute;
    height: 670px;
    top: 27%;
    left: 17%;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.name {
    width: 500px;
    color: white;
    font-size: 4em;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}

.job-title {
    color: white;
    font-size: 2em;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
}

button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;

    display: flex;
    align-self: center;
    margin-left: 9em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 20px;
    padding: 0.7em 1.7em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    
}

button :hover,:focus {
    color: #fff;
    outline: 0;
}

.button {
    border-color: #3498db;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #fff;
    box-shadow: 
        0 0 40px 40px#3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    
}

.button:hover {
    box-shadow: 
        0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

a {
    text-decoration:none;
    color: white;
}

.nav-container {
    margin-left: 45%;
    display: flex;
    justify-content: space-evenly;
}

.nav-list-home {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    margin-top: 2em;
    color: white;
}

.logo-main-page {
    position: absolute;
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin-left: 5em;
    margin-top: 0.5%;
    font-family: 'Overpass', sans-serif;
}

.parada {
    width: 450px;
    height: 770px;
    filter: drop-shadow(10px 5px 25px rgb(29, 29, 29));
    
}

.content-container {
    margin-top: 3em;
    width: 100%;
    height: 100%;
}

.photo-container {
    width: 100%;
    margin-left: 15rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
}





/* about css */

.about-container {
    width: 100vw;
    margin-top: 8em;
    display: flex;
    flex-direction: row;
    padding-left: 15rem;
    padding-right: 10rem;
    position: relative;
    background-image: linear-gradient(white, rgb(211, 208, 208), white);
    height: 607px;
}

.about {
    margin-top: 0.5em;
    text-decoration: underline;
    font-size: 4em;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}

.content-about {
    margin-top: 3em;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 7em;
}

.alice-photo {
    width: 20%;
    border-radius: 2%;
    margin-right: 4em;
    filter: drop-shadow(5px 5px 5px #222);
}

.alice-container {
    border-radius: 2%;

    animation-name: moveInLeft;
    animation-duration: 1s;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    80%{
      transform: translateX(10px);
    }
  
    100%{
      opacity: 1;
      transform: translate(0);
    }
  }
