
.container-icons ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
  }
  
  .container-icons li {
    font-size: 2em !important;
    margin-left: 20px;
  }