
.container-icons ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* padding-top: 8em; */
  }
  
  .container-icons li {
    font-size: 2em !important;
    margin-left: 20px;
  }