
.container-icons ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 8em;
    width: 40%;
    margin-left: 8.5em;
  }
  
  .container-icons li {
    font-size: 2em !important;
  }