/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,900&family=Yanone+Kaffeesatz:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,200;1,900&family=Yanone+Kaffeesatz:wght@300;700&display=swap');



.first-container {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: rgb(31, 30, 30);
}

.name-container {
    position: absolute;
    top: 50%;
    left: 20%;
}

.name {
    color: white;
    font-size: 4em;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}

.job-title {
    color: white;
    font-size: 2em;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
}

button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;

    display: flex;
    align-self: center;
    margin-left: 9em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 20px;
    padding: 0.7em 1.7em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    
}

button :hover,:focus {
    color: #fff;
    outline: 0;
}

.button {
    border-color: #3498db;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #fff;
    box-shadow: 
        0 0 40px 40px#3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    
}

.button:hover {
    box-shadow: 
        0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.about {
    margin-top: 2em;
    font-size: 4em;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
}

.content-about {
    margin-top: 1em;
}