
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,900&family=Yanone+Kaffeesatz:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,200;1,900&family=Yanone+Kaffeesatz:wght@300;700&display=swap');

.container{
    height: auto;
    width: 100vw;
    min-height:100vh;
}
.eco-freak-project {
    margin-top: 2em;
    margin-right: 65%;
    width: 30%;
    height: 40%;
}

.image-project {
    width: 100%;
}

.project-name {
    text-align: left;
    font-size: 20px;
    color: black;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
}

.project-container {
    /* display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 60px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-card {
    border-radius: 3%;
    margin: 50px 100px 50px 100px;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(133, 133, 133) );
    filter: drop-shadow(5px 5px 5px rgb(148, 148, 148));
    list-style-type: none;
    position: relative;
}

.navbar-bg {
    background-color: black;
    height: 75px;
}

.project-title {
    text-align: left;
    margin-left: 3.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 30px;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
}

.video {
    margin: 1em;
    margin-right: 20%;
    width: 95%;
    height: 75%;
    filter: drop-shadow(5px 5px 5px rgb(126, 125, 125));
}

.link-url {
    color: black;
    text-decoration: underline;
}