@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Jost:ital,wght@1,300&family=Saira+Condensed:wght@100&display=swap');

/* Technical skills */
 .link { cursor: pointer;}
    /* responsive Mobile screen */
    @media screen and (max-width: 375px) {
        .tech-container {
            flex-direction: column;
        }
        .tech-title {
            font-size: 30px;
        }
        .lists-skill {
            grid-template-columns: repeat(2, 1fr) !important;
            padding: 0;
        }
    }
    /* responsive Tablet screen */
    @media screen and (max-width: 768px) {
        .tech-container {
            flex-direction: column;
        }
    }
    /* responsive Tablet screen */
    @media screen and (max-width: 1050px) {
        .tech-container {
            flex-direction: column;
        }
        .tech-title {
            font-size: 40px;
        }
        .lists-skill {
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
        }
    }
    /* responsive Laptop screen */
    @media screen and (max-width: 1400px) {
    
    }